@import url("project://database/Packages/com.sim.faciem-material/Runtime/Controls/Styles/MatButtonColors.uss?fileID=7433441132597879392&guid=e8f5f7958ebe470ea918bd81428a7b04&type=3#MatButtonColors");

.mat-button-base {
    display: flex;
    position: relative;
    overflow: visible;
    cursor: link;
    color: var(--mat-button-on-surface);
    --mat-ripple-alpha: 0.18;
    --mat-ripple-duration: 0.45;
}

.mat-button-base:disabled {
    cursor: arrow;
}

.mat-button__shadow {
    position: absolute;
    left: -6px;
    top: -4px;
    right: -6px;
    bottom: -10px;
    display: none;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
    -unity-slice-left: 100;
    -unity-slice-top: 20;
    -unity-slice-right: 100;
    -unity-slice-bottom: 1;
    -unity-slice-scale: -1px;
}

.mat-button__surface {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    min-height: 36px;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    border-width: 0;
    border-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    transition-property: background-color, opacity, border-color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.mat-button__ripple {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.mat-button__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 0;
}

.mat-button__label {
    -unity-font-style: bold;
    white-space: nowrap;
    -unity-text-align: middle-center;
}

.mat-button-base:focus {
    border-width: 0;
}

.mat-button-base.mat-focus-visible .mat-button__surface {
    border-color: rgba(0, 0, 0, 0);
}

.mat-button {
    color: var(--mat-button-on-surface);
}

.mat-button .mat-button__surface {
    background-color: rgba(0, 0, 0, 0);
}

.mat-button:hover .mat-button__surface {
    background-color: var(--mat-button-hover-overlay);
}

.mat-button.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-focus-overlay);
}

.mat-button:active .mat-button__surface {
    background-color: var(--mat-button-active-overlay);
}

.mat-button:disabled {
    color: var(--mat-button-disabled-color);
}

.mat-button:disabled .mat-button__surface {
    background-color: rgba(0, 0, 0, 0);
}

.mat-button.mat-primary {
    color: var(--mat-button-primary-color);
}

.mat-button.mat-primary:hover .mat-button__surface {
    background-color: var(--mat-button-primary-ripple);
}

.mat-button.mat-primary.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-primary-ripple);
}

.mat-button.mat-primary:active .mat-button__surface {
    background-color: var(--mat-button-primary-ripple);
}

.mat-button.mat-accent {
    color: var(--mat-button-accent-color);
}

.mat-button.mat-accent:hover .mat-button__surface {
    background-color: var(--mat-button-accent-ripple);
}

.mat-button.mat-accent.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-accent-ripple);
}

.mat-button.mat-accent:active .mat-button__surface {
    background-color: var(--mat-button-accent-ripple);
}

.mat-button.mat-warn {
    color: var(--mat-button-warn-color);
}

.mat-button.mat-warn:hover .mat-button__surface {
    background-color: var(--mat-button-warn-ripple);
}

.mat-button.mat-warn.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-warn-ripple);
}

.mat-button.mat-warn:active .mat-button__surface {
    background-color: var(--mat-button-warn-ripple);
}

.mat-raised-button {
    color: var(--mat-button-on-surface);
}

.mat-raised-button .mat-button__shadow {
    display: flex;
    background-image: url("project://database/Packages/com.sim.faciem-material/Images/BackgroundFade_2.png?fileID=2800000&guid=e9f37f2ae2959734598b0eab4ebe5b2f&type=3#BackgroundFade_2");
    -unity-background-image-tint-color: rgba(0, 0, 0, 0.5);
}

.mat-raised-button .mat-button__surface {
    background-color: var(--mat-button-surface-bg);
}

.mat-raised-button:hover .mat-button__surface {
    background-color: var(--mat-button-surface-hover-bg);
}

.mat-raised-button.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-surface-focus-bg);
}

.mat-raised-button:active .mat-button__surface {
    background-color: var(--mat-button-surface-focus-bg);
}

.mat-raised-button:disabled {
    color: var(--mat-button-disabled-color);
}

.mat-raised-button:disabled .mat-button__surface {
    background-color: var(--mat-button-disabled-bg);
}

.mat-raised-button:disabled .mat-button__shadow {
    opacity: 0;
}

.mat-raised-button.mat-primary {
    color: var(--mat-button-primary-text-color);
}

.mat-raised-button.mat-primary .mat-button__surface {
    background-color: var(--mat-button-primary-color);
}

.mat-raised-button.mat-primary:hover .mat-button__surface {
    background-color: var(--mat-button-primary-hover-bg);
}

.mat-raised-button.mat-primary.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-primary-focus-bg);
}

.mat-raised-button.mat-primary:active .mat-button__surface {
    background-color: var(--mat-button-primary-focus-bg);
}

.mat-raised-button.mat-accent {
    color: var(--mat-button-accent-text-color);
}

.mat-raised-button.mat-accent .mat-button__surface {
    background-color: var(--mat-button-accent-color);
}

.mat-raised-button.mat-accent:hover .mat-button__surface {
    background-color: var(--mat-button-accent-hover-bg);
}

.mat-raised-button.mat-accent.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-accent-focus-bg);
}

.mat-raised-button.mat-accent:active .mat-button__surface {
    background-color: var(--mat-button-accent-focus-bg);
}

.mat-raised-button.mat-warn {
    color: var(--mat-button-warn-text-color);
}

.mat-raised-button.mat-warn .mat-button__surface {
    background-color: var(--mat-button-warn-color);
}

.mat-raised-button.mat-warn:hover .mat-button__surface {
    background-color: var(--mat-button-warn-hover-bg);
}

.mat-raised-button.mat-warn.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-warn-focus-bg);
}

.mat-raised-button.mat-warn:active .mat-button__surface {
    background-color: var(--mat-button-warn-focus-bg);
}

.mat-stroked-button {
    color: var(--mat-button-on-surface);
}

.mat-stroked-button .mat-button__surface {
    background-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-color: var(--mat-button-stroked-border-color);
}

.mat-stroked-button:hover .mat-button__surface {
    background-color: var(--mat-button-hover-overlay);
}

.mat-stroked-button.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-focus-overlay);
    border-width: 1px;
    border-color: var(--mat-button-stroked-border-color);
}

.mat-stroked-button:active .mat-button__surface {
    background-color: var(--mat-button-active-overlay);
}

.mat-stroked-button:disabled {
    color: var(--mat-button-disabled-color);
}

.mat-stroked-button:disabled .mat-button__surface {
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--mat-button-disabled-color);
}

.mat-stroked-button.mat-primary {
    color: var(--mat-button-primary-color);
}

.mat-stroked-button.mat-primary .mat-button__surface {
    border-color: var(--mat-button-primary-color);
}

.mat-stroked-button.mat-primary:hover .mat-button__surface {
    background-color: var(--mat-button-primary-ripple);
}

.mat-stroked-button.mat-primary.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-primary-ripple);
    border-color: var(--mat-button-primary-color);
}

.mat-stroked-button.mat-primary:active .mat-button__surface {
    background-color: var(--mat-button-primary-ripple);
}

.mat-stroked-button.mat-accent {
    color: var(--mat-button-accent-color);
}

.mat-stroked-button.mat-accent .mat-button__surface {
    border-color: var(--mat-button-accent-color);
}

.mat-stroked-button.mat-accent:hover .mat-button__surface {
    background-color: var(--mat-button-accent-ripple);
}

.mat-stroked-button.mat-accent.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-accent-ripple);
    border-color: var(--mat-button-accent-color);
}

.mat-stroked-button.mat-accent:active .mat-button__surface {
    background-color: var(--mat-button-accent-ripple);
}

.mat-stroked-button.mat-warn {
    color: var(--mat-button-warn-color);
}

.mat-stroked-button.mat-warn .mat-button__surface {
    border-color: var(--mat-button-warn-color);
}

.mat-stroked-button.mat-warn:hover .mat-button__surface {
    background-color: var(--mat-button-warn-ripple);
}

.mat-stroked-button.mat-warn.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-warn-ripple);
    border-color: var(--mat-button-warn-color);
}

.mat-stroked-button.mat-warn:active .mat-button__surface {
    background-color: var(--mat-button-warn-ripple);
}

.mat-flat-button {
    color: var(--mat-button-on-surface);
}

.mat-flat-button .mat-button__surface {
    background-color: var(--mat-button-surface-bg);
}

.mat-flat-button:hover .mat-button__surface {
    background-color: var(--mat-button-surface-hover-bg);
}

.mat-flat-button.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-surface-focus-bg);
}

.mat-flat-button:active .mat-button__surface {
    background-color: var(--mat-button-surface-focus-bg);
}

.mat-flat-button:disabled {
    color: var(--mat-button-disabled-color);
}

.mat-flat-button:disabled .mat-button__surface {
    background-color: var(--mat-button-disabled-bg);
}

.mat-flat-button.mat-primary {
    color: var(--mat-button-primary-text-color);
}

.mat-flat-button.mat-primary .mat-button__surface {
    background-color: var(--mat-button-primary-color);
}

.mat-flat-button.mat-primary:hover .mat-button__surface {
    background-color: var(--mat-button-primary-hover-bg);
}

.mat-flat-button.mat-primary.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-primary-focus-bg);
}

.mat-flat-button.mat-primary:active .mat-button__surface {
    background-color: var(--mat-button-primary-focus-bg);
}

.mat-flat-button.mat-accent {
    color: var(--mat-button-accent-text-color);
}

.mat-flat-button.mat-accent .mat-button__surface {
    background-color: var(--mat-button-accent-color);
}

.mat-flat-button.mat-accent:hover .mat-button__surface {
    background-color: var(--mat-button-accent-hover-bg);
}

.mat-flat-button.mat-accent.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-accent-focus-bg);
}

.mat-flat-button.mat-accent:active .mat-button__surface {
    background-color: var(--mat-button-accent-focus-bg);
}

.mat-flat-button.mat-warn {
    color: var(--mat-button-warn-text-color);
}

.mat-flat-button.mat-warn .mat-button__surface {
    background-color: var(--mat-button-warn-color);
}

.mat-flat-button.mat-warn:hover .mat-button__surface {
    background-color: var(--mat-button-warn-hover-bg);
}

.mat-flat-button.mat-warn.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-warn-focus-bg);
}

.mat-flat-button.mat-warn:active .mat-button__surface {
    background-color: var(--mat-button-warn-focus-bg);
}

.mat-icon-button {
    color: var(--mat-button-on-surface);
}

.mat-icon-button .mat-button__surface {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 999px;
    width: 40px;
    height: 40px;
    min-height: 40px;
    padding: 8px;
}

.mat-icon-button:hover .mat-button__surface {
    background-color: var(--mat-button-hover-overlay);
}

.mat-icon-button.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-focus-overlay);
}

.mat-icon-button:active .mat-button__surface {
    background-color: var(--mat-button-active-overlay);
}

.mat-icon-button:disabled {
    color: var(--mat-button-disabled-color);
}

.mat-icon-button:disabled .mat-button__surface {
    background-color: rgba(0, 0, 0, 0);
}

.mat-icon-button.mat-primary {
    color: var(--mat-button-primary-color);
}

.mat-icon-button.mat-primary:hover .mat-button__surface {
    background-color: var(--mat-button-primary-ripple);
}

.mat-icon-button.mat-primary.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-primary-ripple);
}

.mat-icon-button.mat-primary:active .mat-button__surface {
    background-color: var(--mat-button-primary-ripple);
}

.mat-icon-button.mat-accent {
    color: var(--mat-button-accent-color);
}

.mat-icon-button.mat-accent:hover .mat-button__surface {
    background-color: var(--mat-button-accent-ripple);
}

.mat-icon-button.mat-accent.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-accent-ripple);
}

.mat-icon-button.mat-accent:active .mat-button__surface {
    background-color: var(--mat-button-accent-ripple);
}

.mat-icon-button.mat-warn {
    color: var(--mat-button-warn-color);
}

.mat-icon-button.mat-warn:hover .mat-button__surface {
    background-color: var(--mat-button-warn-ripple);
}

.mat-icon-button.mat-warn.mat-focus-visible .mat-button__surface {
    background-color: var(--mat-button-warn-ripple);
}

.mat-icon-button.mat-warn:active .mat-button__surface {
    background-color: var(--mat-button-warn-ripple);
}

.mat-fab {
    color: var(--mat-button-accent-text-color);
}

.mat-fab .mat-button__surface {
    background-color: var(--mat-button-accent-color);
    border-radius: 999px;
    width: 56px;
    height: 56px;
    min-height: 56px;
    padding: 0;
}

.mat-fab:hover .mat-button__surface {
    opacity: 0.88;
}

.mat-fab.mat-focus-visible .mat-button__surface {
    opacity: 0.88;
}

.mat-fab:active .mat-button__surface {
    opacity: 0.76;
}

.mat-fab:disabled {
    color: var(--mat-button-disabled-color);
}

.mat-fab:disabled .mat-button__surface {
    opacity: 1;
    background-color: var(--mat-button-disabled-bg);
}

.mat-fab.mat-primary {
    color: var(--mat-button-primary-text-color);
}

.mat-fab.mat-primary .mat-button__surface {
    background-color: var(--mat-button-primary-color);
}

.mat-fab.mat-accent {
    color: var(--mat-button-accent-text-color);
}

.mat-fab.mat-accent .mat-button__surface {
    background-color: var(--mat-button-accent-color);
}

.mat-fab.mat-warn {
    color: var(--mat-button-warn-text-color);
}

.mat-fab.mat-warn .mat-button__surface {
    background-color: var(--mat-button-warn-color);
}

.mat-mini-fab {
    color: var(--mat-button-accent-text-color);
}

.mat-mini-fab .mat-button__surface {
    background-color: var(--mat-button-accent-color);
    border-radius: 999px;
    width: 40px;
    height: 40px;
    min-height: 40px;
    padding: 0;
}

.mat-mini-fab:hover .mat-button__surface {
    opacity: 0.88;
}

.mat-mini-fab.mat-focus-visible .mat-button__surface {
    opacity: 0.88;
}

.mat-mini-fab:active .mat-button__surface {
    opacity: 0.76;
}

.mat-mini-fab:disabled {
    color: var(--mat-button-disabled-color);
}

.mat-mini-fab:disabled .mat-button__surface {
    opacity: 1;
    background-color: var(--mat-button-disabled-bg);
}

.mat-mini-fab.mat-primary {
    color: var(--mat-button-primary-text-color);
}

.mat-mini-fab.mat-primary .mat-button__surface {
    background-color: var(--mat-button-primary-color);
}

.mat-mini-fab.mat-accent {
    color: var(--mat-button-accent-text-color);
}

.mat-mini-fab.mat-accent .mat-button__surface {
    background-color: var(--mat-button-accent-color);
}

.mat-mini-fab.mat-warn {
    color: var(--mat-button-warn-text-color);
}

.mat-mini-fab.mat-warn .mat-button__surface {
    background-color: var(--mat-button-warn-color);
}
